@import "../../Variables.scss";

.login_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .bg {
        position: fixed;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    form {
        margin-top: -150px;
        z-index: 3;
        position: relative;
        width: 400px;
        height: 350px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        border-radius: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            position: absolute;
            width: 100px;
            top: 5px;
            left: 5px;
        }


        .form_header {
            font-size: 30px;
            font-weight: 600;
            padding: 30px 0;
        }

        .form_group {
            border: 1px solid gray;
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            font-size: 20px;
            border-radius: 20px;
            position: relative;
            background-color: #fff !important;

            input {
                width: 100%;
                border: none;
               
                &:focus {
                    outline: none;
                }
            }

            span{
                position: absolute;
                right: 10px;
                top: 12px;
                cursor: pointer;
            }
        }
        .forgot_password {
            display: block;
            width: 90%;
            text-align: left;
            text-decoration: none;
            margin-top: 10px;
        }

        button {
            width: 60%;
            font-size: 20px;
            margin-top: 20px;
            padding: 10px;

            border: none;
            border-radius: 20px;
            cursor: pointer;
            background-color: #007aff;
            color: #fff;
            font-weight: 600;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            &:hover {
                background-color: #34aadc   ;
            }
        }
    }
}
