.topic_management {
  margin-left: 10px;
  .custom-table .ant-table-thead > tr > th {
    height: 60px;
    background-color: red;
  }
  .title_model {
    font-size: 1.1rem;
    color: #264653;
    padding-right: 20px;
  }
  .semester_func {
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .selectTerm {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .name {
        font-size: 1.1rem;
        color: #264653;
        padding-right: 20px;
      }
    }
    .modal {
      font-size: 18px;
    }
  }

  .text_colum {
    font-size: 16px;
    line-height: 1.8;
    text-align: left;
    white-space: pre-wrap;
    color: #264653;
    overflow-y: hidden;
  }

  .button {
    display: flex;
    flex-direction: row;
    .btn {
      margin: 2px;
    }
  }
  ::-webkit-scrollbar {
    height: 8px;
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#52a4ca, 0.2);
    border: 3px solid transparent;
    border-radius: 4px;
  }
}
