.topic_management {
  margin-left: 10px;
  .semester_func {
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .selectTerm {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .name {
        font-size: 1.2rem;
        color: #264653;
        padding-right: 20px;
      }
    }
    .modal {
      font-size: 18px;
    }
  }
  .text_colum {
    font-size: 16px;
    color: #264653;
  }
}
