.function {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 30px;
  h4 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.375;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    margin: 8px;
  }

  .upload_group_btn {
    display: flex;
    align-items: center;
  }
}


  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(#333, .2);
    border: 3px solid transparent;
    border-radius: 4px;
 
}
.text_colum{
  font-size: 16px;
  color: #264653;
}

.card_view {
  overflow-y: scroll;
  height: 500px;

  .card_item {
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
    background-color: transparent;
  }
  .card_body {
    background-color: #fff;
    padding: 20px 5px 20px 20px;
    display: flex;
    flex-direction: row;
    .group_name {
      font-size: 0.7rem;
      font-weight: 400;
    }
    .card_top {
      display: flex;
      flex-direction: column;
      .card_func {
        margin-top: 10px;
        button {
          margin-right: 10px;
        }
      }
    }
    .content {
      margin-left: 10px;
      p {
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}
