.list_evaluation {
  padding-top: 30px;
  flex-direction: column;
  flex: 1;
  width: 100%;
  .type_evalution {
    width: 100%;
    text-align: center;
    padding: 10px 0;

    .btn_radio {
      text-transform: uppercase;
    }
  }

  .title_group {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    color: gray;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .title_info {
    font-size: 22px;
    font-weight: 600;
  }
  .scroll {
    height: calc(100vh - 100px);
    overflow-x: scroll;
  }
  .filter_term {
    width: 98%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 20px;
  }

  .info {
    width: 100%;
    height: calc(100vh - 260px);

    display: flex;
    padding: 0 20px;

    overflow-y: auto;
    overflow-x: auto;
    .group {
      padding: 20px !important;
      flex-direction: row;
      background: conic-gradient(from 300deg, #e3f2fd, transparent);
      border-radius: 10px;
      width: 100%;
      box-shadow: #bbdefb 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      transition-duration: 3s;
      &:hover {
        cursor: auto;

        box-shadow: #1e88e5 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
      .group_name {
        // width: 100%;
        font-size: 1.1rem;
        font-weight: 600;
        position: relative;
        .name_info {
          padding: 2px 0;
          font-size: 1.2rem;
          text-transform: uppercase;
          font-weight: 700;
          color: #0096c7;
        }
        .name_info_more {
          font-size: 1.3rem;
          text-transform: uppercase;
          font-weight: 700;
          color: #0096c7;
          &:hover {
            cursor: auto;
            color: #184e77;
            text-shadow: 1px 3px 1px rgb(80, 71, 54);
          }
        }

        .member {
          padding: 5px;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 600;
          color: #588157;
        }

        .evalaution_content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition-duration: 3s;
          .icon_evaluation {
            font-size: 16px;
            color: red;
            text-transform: uppercase;
            &:hover {
              cursor: pointer;
              color: #e63946;
            }
          }
        }
      }
      .group_more {
        position: absolute;
        display: flex;
        top: 80;
        z-index: 9999;
      }

      padding: 10px 0;
      .title {
        font-size: 15px;
        padding: 2px 0;
        color: #d4a373;
        text-transform: uppercase;
      }
      ._name {
        font-size: 0.9rem;

        color: #bc6c25;
        font-weight: 600;
        text-transform: uppercase;
      }
      .title_name {
        font-size: 0.9rem;
        color: rgb(119, 113, 5);
        text-transform: uppercase;
      }
      .no_name {
        font-size: 14px;
        color: red;
        text-transform: uppercase;
      }
      .item {
        height: 50px;
        display: flex;
        width: 100%;
        // justify-content: flex-start;
        // align-items: flex-start;

        overflow-y: auto;
        overflow-x: auto;

        .item_name {
          padding-left: 20%;
          width: 100%;

          ._item {
            font-size: 15px;
            padding: 5px 0;
            text-transform: uppercase;
            font-weight: 600;
            color: #a3b18a;
          }
        }
      }
    }
  }
}
