@import '../../../src/Variables.scss';
.home_page {
  width: 98.5vw;
  .home_body {
 
    .slide_item {
      margin-top: 20px;
      position: relative;
      div {
        position: absolute;
        top: 10%;
        left: 5%;
        h2 {
          font-weight: 900;
          padding: 5px;
          transition-duration: 3s;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          background: conic-gradient(from 20deg, transparent, #073b4c);
          color: #fff;
          &:hover {
            transform: scale(1.1);
          }
        }
        span {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          transition-duration: 3s;
          font-family: Arial, Helvetica, sans-serif;
          background: conic-gradient(from 20deg, transparent, #03045e);
          &:hover {
            transform: scale(1.1);
          }
          color: #fff;
          display: flex;
          top: -20;
          width: 50%;
          font-size: 1.2rem;
          font-weight: 500;
          margin-top: 20px;
          padding: 10px;
        }
      }
      img {
        width: 100vw;
        height: 600px;
        object-fit: cover;
      }
    }
    .content {
      margin-top: 50px;
      padding: 0 50px;
      h1 {
        color: orange;
        font-weight: 900;
        padding: 20px 0;
      }
      p {
        font-size: 1.2rem;
        text-align: justify;
      }
      .content_title {
        color: #ff7d00;
        margin-top: 30px;
        padding-top: 10px;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
      ._title {
        transition-duration: 3s;
        &:hover {
          transform: scale(1.1);
        }
        background: conic-gradient(from 20deg, #fff, #e9edc9);
        .title {
          padding: 10px 10px;

          transition-duration: 3s;
          &:hover {
            transform: scale(1.1);
          }
          color: #344e41;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 1.9rem;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      .main_content {
        padding: 0px 10px;
        margin: 20px 0px;
        background: conic-gradient(transparent, #fff, #caf0f8);
      }
    }
  }
  .home_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $footerHeight;
    background-color: #ffff;
    margin-top: 10px;

    box-shadow: rgba(17, 12, 46, 0.15) 48px 0px 48px 0px;
    .title_footer {
      transition-duration: 2s;
      &:hover {
        transform: scale(1.1);
      }
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
    }
  }
}
