.list_evaluation {
  padding: 0 20px;
  padding-top: 30px;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .title_group {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    color: gray;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .title_point {
    font-size: 15px;

    color: #264653;
    text-transform: uppercase;
    font-weight: 600;
  }

  .info {
    margin-top: 10px;
    .title_group_left {
      width: 100%;
      text-align: center;

      text-transform: uppercase;
      color: gray;
      font-size: 1.3rem;
      font-weight: 600;
    }
    .text_colum {
      font-size: 1.1rem;

      color: #bc6c25;
      font-weight: 600;
    }
    margin-top: 10px;

    .left {
      margin: 10px;
      .text_colum {
        font-size: 16px;
        color: #264653;
      }
      .text_colum_name {
        font-size: 16px;
        font-weight: 600;
        color: #264653;
      }

      .member {
        text-align: center;
        color: #264653;

        font-size: 16px;
      }
      .item_name {
        text-align: center;
        font-weight: 600;
        color: #1e88e5;
        font-size: 16px;
      }
    }
    .right {
      background-color: #fff;
      width: 100%;
      margin: 20px;
      padding: 20px;
      .title_group_right {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        text-transform: uppercase;
        color: gray;
        font-size: 1.3rem;
        font-weight: 600;
      }
      .name_group {
        font-size: 1.1rem;

        color: #bc6c25;
        font-weight: 600;
        text-transform: uppercase;
      }

      .title_info_lecturer {
        font-size: 1.1rem;
        padding: 2px 0;
        color: #d4a373;
        text-transform: uppercase;
        font-weight: 600;
      }
      .type_evalution {
        width: 100%;
        text-align: center;
        padding: 10px 0;

        .btn_radio {
          text-transform: uppercase;
        }
      }
      .text_colum {
        font-size: 16px;
        color: #264653;
      }
      .text_colum_name {
        font-size: 16px;
        font-weight: 600;
        color: #264653;
      }

      .member {
        text-align: center;
        color: #264653;

        font-size: 16px;
      }
      .item_name {
        text-align: center;
        font-weight: 600;
        color: #1e88e5;
        font-size: 16px;
      }
    }
  }
}
