

.teacher_management{
  .function {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    .search{
      width: 100%;
      background-color: antiquewhite;
      padding: 3px;
     
    }
    .content_button_upload {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .btn_loading {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    h4 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.375;
      font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
      margin: 8px;
    }
    .modal {
      width: 50%;
  
      .title_model {
        font-size: 35px;
        font-weight: 400;
        text-align: center;
      }
    }
   
  }
//   ::-webkit-scrollbar {
//     height: 8px;
//     width: 8px;
// }

// ::-webkit-scrollbar-track {
//     background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: rgba(#333, .2);
//     border: 3px solid transparent;
//     border-radius: 4px;
// }
.text_colum{
  font-size: 16px;
  color: #264653;
}
}

