.function {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  .content_button_upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    .btn_loading {
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  h4 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.375;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    margin: 8px;
  }
  .modal {
    width: 50%;
    .title_model {
      font-size: 35px;
      font-weight: 400;
      text-align: center;
    }
  }
}
