.user_info {
  background-color: white;
  border-width: 1;
  border-color: #00b4d8;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  .content_title {
    .title {
      font-size: 24px;
      font-weight: 400;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .title {
    font-size: 16px;
    text-align: center;
    //  text-transform: uppercase;
    color: #403d39;
  }
  .item_title {
    text-transform: uppercase;
    font-size: 16px;
    color: gray;
    text-align: center;
  }
  .modal {
    width: 50%;
    .title_model {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
    }
  }
  .btn {
    margin-top: 20px;
  }
  .memu_setting {
    .content {
      text-decoration: none;
      text-transform: none;
    }
  }
}
