.user_info {
  background-color: white;
  border-width: 1;
  border-color: #00b4d8;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  .content_title {
    h2 {
      font-size: 35px;
      font-weight: 400;

      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .title {
    font-size: 18px;
    text-align: center;
    //  text-transform: uppercase;
    color: #403d39;
  }
  .item_title {
    text-transform: uppercase;
    font-size: 18px;
    color: gray;
    text-align: center;
  }
  .modal {
    width: 50%;
    .title_model {
      font-size: 35px;
      font-weight: 400;
      text-align: center;
    }
  }
}
