.user_info {
  background-color: white;
  border-width: 1;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-color: #00b4d8;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  // margin-left: 50px;
  // margin-right: 50px;
  margin-left: 20%;
  .content_title {
    .title {
      text-transform: uppercase;
      color: gray;
      font-size: 1.5rem;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .title_lable {
    font-size: 16px;
    letter-spacing: '3px';
    font-weight: 500;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #4f6d7a;
  }
  .item_title {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #1976d2;
  }
  .modal {
    width: 50%;
    .title_model {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
    }
  }
  .btn {
    margin-top: 20px;
  }
  .memu_setting {
    .content {
      text-decoration: none;
      text-transform: none;
      .title {
        color: #f27059;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
}
