@import '../../Variables.scss';

.header {
  height: $headerHeight;
  width: 100%;
  display: flex;

  justify-items: end;
  align-items: end;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  // z-index: 999;
  // right: 40px;

  background-color: #f0f2f5;
  .login {
    // position: relative;
  }
  .content {
    background-color: transparent;
    border-radius: 50px;
    position: fixed;
    display: flex;

    justify-items: stretch;
    align-items: stretch;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    top: 80vh; /* Đặt vị trí từ đỉnh cửa sổ trình duyệt */

    .name {
      font-size: 1.1rem;
    }
    transition-duration: 3s;
    &:hover {
      cursor: pointer;
    }
  }
}
