@import '../../Variables.scss';

.header {
  height: $headerHeight;
  // width: 100%;
  display: flex;

  justify-items: end;
  align-items: end;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  margin-top: 20px;
  z-index: 9;
  // right: 40px;

  .content {
    background-color: transparent;
    border-radius: 50px;
    position: fixed;
    display: flex;

    justify-items: stretch;
    align-items: stretch;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    top: 70vh; /* Đặt vị trí từ đỉnh cửa sổ trình duyệt */

    .name {
      font-size: 1.1rem;
    }
    transition-duration: 3s;
    &:hover {
      cursor: pointer;
    }
  }
}
