@import "../../Variables.scss";

.header {
    height: $headerHeight;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f0f8ff;

    .logo {
        img {
            width: 50px;
            height: 50px;
        }
    }
    .menu {
        display: flex;
        width: 500px;
        align-items: center;
        justify-content: center;

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(230, 228, 249, 0.2);
            border: 1px solid #e6e4f9;
            margin-right: 10px;
            padding: 10px;
            border-radius: 5px;

            cursor: pointer;

            svg {
                font-size: 24px;
                margin-right: 5px;
            }
        }
        .account {
            display: flex;
            align-items: center;
            margin-left: 30px;
            position: relative;
            cursor: pointer;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 35px;
            }
            span {
                display: block;
                margin-left: 10px;
                cursor: pointer;

                &::before {
                    content: "\f107";
                    font-family: FontAwesome;
                    font-size: 30px;
                    line-height: 50%;
                    color: #838690;
                }
            }
            .account_submenu {
                width: 250px;
                height: 260px;
                position: absolute;
                right: 0;
                top: calc($headerHeight - 10px);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding: 10px;
                background-color: #f1f1f9;
                z-index: 2;
                font-weight: 500;
                opacity: 0;
                visibility: hidden;
                border: 1px solid #e6e4f9;
                .username, .role {
                    padding: 10px 5px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #838690;
                    line-height: 19px;
                    text-align: right;
                }
                .break_line{
                    padding: 5px;
                    border-bottom: 2px solid #e6e4f9;
                }
                .menu_item {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 10px 5px;
                    color: #838690;
                    cursor: pointer;

                    &:hover {
                        background-color: lightgray;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 15px;
                    }
                }

            }
        }
    }
}
