@import '../../Variables.scss';

.header {
  height: $headerHeight;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  row-gap: -3px !important;
  background-color: $white;
  .login {
    position: relative;
    top: -10px;
  }

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  .logo {
    position: relative;
    margin-left: 50px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      padding: 10px;
      border-radius: 5px;

      cursor: pointer;

      svg {
        font-size: 24px;
        margin-right: 5px;
      }
      .menu_lable{
        font-size: 1.1rem;

        color: #264653;
        text-transform: uppercase;
        font-weight: 600;
      }
    
    }
    .account {
      display: flex;
      align-items: center;
      margin-left: 30px;
      position: relative;
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 35px;
      }
      span {
        display: block;
        margin-left: 10px;
        cursor: pointer;

        &::before {
          content: '\f107';
          font-family: FontAwesome;
          font-size: 30px;
          line-height: 50%;
          color: #838690;
        }
      }
      .account_submenu {
        width: 250px;
        height: 260px;
        position: absolute;
        right: 0;
        top: calc($headerHeight - 10px);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px;
        background-color: #f1f1f9;
        z-index: 2;
        font-weight: 500;
        opacity: 0;
        visibility: hidden;
        border: 1px solid #e6e4f9;
        .username,
        .role {
          padding: 10px 5px;
          font-size: 16px;
          font-weight: 700;
          color: #838690;
          line-height: 19px;
          text-align: right;
        }
        .break_line {
          padding: 5px;
          border-bottom: 2px solid #e6e4f9;
        }
        .menu_item {
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 10px 5px;
          color: #838690;
          cursor: pointer;

          &:hover {
            background-color: lightgray;
          }

          img {
            width: 30px;
            height: 30px;
            margin-right: 15px;
          }
        }
      }
    }
  }
}
