.content {
  background-color: white;
  .name_tab {
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    color: gray;
    font-size: 1.3rem;
    font-weight: 500;
  }
}
