.function {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  width: '100%';
  .content_button_upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.left {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .title_name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
  }
}
.text_colum {
  font-size: 16px;
  color: #264653;
}
