.function {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: '100%';
  .content_button_upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
