.list_evaluation {
  padding-top: 30px;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .title_group {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    color: gray;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .info {
    margin-top: 10px;
    .title_group_left {
      width: 100%;
      text-align: center;

      text-transform: uppercase;
      color: gray;
      font-size: 1.3rem;
      font-weight: 600;
    }
    margin-top: 10px;
    .title_group_right {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      text-transform: uppercase;
      color: gray;
      font-size: 1.3rem;
      font-weight: 600;
    }
    .left {
      margin: 10px;
      .text_colum {
        font-size: 16px;
        color: #264653;
      }
      .text_colum_name {
        font-size: 16px;
        font-weight: 600;
        color: #264653;
      }

      .member {
        text-align: center;
        color: #264653;

        font-size: 16px;
      }
      .item_name {
        text-align: center;
        font-weight: 600;
        color: #1e88e5;
        font-size: 16px;
      }
    }
    .rignt {
      width: 100%;
      margin: 10px;
      .text_colum {
        font-size: 16px;
        color: #264653;
      }
    }
  }
}
