@import '../../Variables.scss';
@import '../../Resposive.scss';

.management {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

  .empty {
    height: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .username {
      font-weight: 500;
      font-size: 1.4rem;
      font-weight: 700;
      color: #003049;
      // text-shadow: 1px 1px 1px #03045e;
      // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-transform: uppercase;
      transition-duration: 2s;
      &:hover {
        cursor: auto;
        transform: scale(1.2);
      }
    }
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      box-shadow: #caf2f8 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      transition-duration: 2s;
      &:hover {
        box-shadow: #007aff 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        cursor: pointer;
        transform: scale(1.2);
      }
    }
    div {
      font-size: 1.2rem;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.85);
      margin-top: 20px;
    }
    .logo {
      width: 100%;

      margin-left: 50px;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      img {
        justify-content: flex-start;
        align-items: flex-start;
        width: 50px;
        height: 50px;
      }
    }
  }

  .filter_term {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    .name_term {
      font-size: 1.2rem;
      font-weight: 600;
      text-shadow: 0px 2px 1px #caf0f8;
      text-transform: uppercase;
      padding: 20px 0;
    }
    .term_content {
      margin-left: 4%;
      margin-top: 20px;
    }
  }

  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#52a4ca, 0.2);
    border: 3px solid transparent;
    border-radius: 4px;
  }
  .menu {
    width: 100%;
    height: 100%;
    background-color: #fff;

    overflow-y: auto;
    overflow-x: hidden;
    flex-flow: column;
    border-collapse: collapse;

    hr {
      margin: 24px 0px;
      flex-shrink: 0;
      border-width: 0px 0px thin;
      border-style: solid;
      border-color: rgba(24, 144, 255, 0.2);
      display: block;
      unicode-bidi: isolate;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      margin-inline-start: auto;
      margin-inline-end: auto;
      overflow: hidden;
    }
    .expand_menu {
      @include media(responsive_max_600, responsive_min_600, responsive_min_768) {
        display: block;
        font-size: 25px;
        color: #fff;
        margin-top: 10px;
        cursor: pointer;
      }

      @include media(responsive_min_992) {
        display: none;
      }
    }

    .menu_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.85);
      padding: 15px;
      margin-left: 10px;
      margin-top: 30px;
      text-decoration: none;
      transition: border-color 0.3s background 0.3s, padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
      cursor: pointer;

      @include media(responsive_max_600, responsive_min_600, responsive_min_768) {
        justify-content: center;
        margin-top: 20px;
      }

      @include media(responsive_min_992) {
        justify-content: inherit;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }

      img {
        @include media(responsive_max_600, responsive_min_600, responsive_min_768) {
          width: 25px;
          height: 25px;
          margin-right: 0 !important;
        }

        @include media(responsive_min_992) {
          width: 30px;
          height: 30px;
          margin-right: 20px !important;
        }
      }
      p {
        padding: 0;
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.75;
        font-weight: 700;
      }

      .menu_title {
        font-size: 1.1rem;
        color: '#073b4c';

        font-weight: 600;
        text-transform: uppercase;

        transition-duration: 2s;
        &:hover {
          cursor: pointer;
          color: '#1b263b';

          font-weight: 600;
          transform: scale(1.1);
        }
      }
    }
  }
  .footer {
    height: 10%;
    width: 100%;
    hr {
      margin: 24px 0px;
      flex-shrink: 0;
      border-width: 0px 0px thin;
      border-style: solid;
      border-color: rgba(24, 144, 255, 0.2);
      display: block;
      unicode-bidi: isolate;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      margin-inline-start: auto;
      margin-inline-end: auto;
      overflow: hidden;
    }

    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 1.9rem;
    font-weight: 600;
    color: red;
    .btn {
      .menu_title_logout {
        font-size: 1.1rem;
        font-weight: 600;

        text-transform: uppercase;
      }
      &:hover {
        cursor: pointer;
        background-color: 'volcano';
        box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
      }
    }
  }
}
