@import "../../Variables.scss";
@import "../../Resposive.scss";

.management {
    width: 100%;
    height: calc(100vh - $headerHeight );
    // background-color: #F9FAFC;
    display: flex;
    align-items: center;
    justify-content: center;
    .wraper {
        // background-color: #F9FAFC;
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        .wrapper_top {
            // flex: 1;
            display: flex;
            align-items: center;
margin-bottom: 10px;
            justify-content: space-between;
            .major{
                display: flex;
                align-items: center;
                padding: 10px;
                background-color: #E6E4F9;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 600;
                color: #00008B;
                font-style: italic;

                img{
                    width: 30px;
                    margin-right: 10px;
                }
            }
            select {
                font: 400 14px sans-serif;
                line-height: 1;
                outline: 0;
                padding: 0.65em 2.5em 0.55em 0.75em;
                background-color: #E6E4F9;
                background-image: linear-gradient(var(--baseFg), var(--baseFg)),
                    linear-gradient(
                        -135deg,
                        transparent 50%,
                        var(--accentBg) 50%
                    ),
                    linear-gradient(
                        -225deg,
                        transparent 50%,
                        var(--accentBg) 50%
                    ),
                    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
                background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
                background-position: right 20px center, right bottom,
                    right bottom, right bottom;
                border-radius: 5px;
                margin-right: 20px;
                border: 1px solid #aaa;
                cursor: pointer;

                font-size: 14px;
                font-weight: 600;
                color: #838690;
            }
        }

        .wraper_bottom {
            width: 100%;
            flex: 10;
            display: flex;
            justify-content: center;
            .menu {
                width: 20%;
                background-color: #00008b;
                border-radius: 5px;
                margin-right: 20px;
                @include media(responsive_max_600, responsive_min_600, responsive_min_768){
                    width: 70px;
                    p{
                        display: none;
                    }
                }

                @include media(responsive_min_992){
                    width: 20%;
                    p{
                        display: block;
                    }
                }
                .expand_menu{
                    @include media(responsive_max_600, responsive_min_600, responsive_min_768){
                        display: block;
                        font-size: 25px;
                        color: #fff;
                        margin-top: 10px;
                        cursor: pointer;
                    }
    
                    @include media(responsive_min_992){
                        display: none;
                    } 
                }

                .empty {
                    margin-top: 100px;  
                }

                .menu_item {
                    display: flex;
                    align-items: center;
                    color: #fff;
                    background-color: #0d0d99;
                    padding: 10px;
                    margin-top: 30px;
                    cursor: pointer;
                   
                    @include media(responsive_max_600, responsive_min_600, responsive_min_768){
                        justify-content: center;
                        margin-top: 20px;
                    }

                    @include media(responsive_min_992, ){
                        justify-content: inherit;
                    }

                    &:hover {
                        background-color: #3232f2;
                    }

                    img {
                        @include media(responsive_max_600, responsive_min_600, responsive_min_768){
                            width: 25px;
                            height: 25px;
                            margin-right: 0 !important;
                        }

                        @include media(responsive_min_992, ){
                            width: 30px;
                            height: 30px;
                            margin-right: 20px !important;
                        }
                    }
                    p {
                        padding: 0;
                        margin: 0;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 18px;
                    }
                }
            }
            .function_container {
                width: 80%;
            }
        }
    }
}
