.group_lecturer_management {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;

  .group_content {
    .function {
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
 height: 100%;
  .info_item_des {
    // height: 50%;
    margin-top: 20px;
    padding: 20px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    .title_info {
      font-size: 22px;
      font-weight: 600;
    }
    .name_group {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .title_info_lecturer {
      font-size: 18px;
      font-weight: 500;
    }
    .des_item {
      // width: 100%;
    }
    .tearch_name {
      font-size: 16px;
      font-weight: 500;
    }
    .text_colum{
      font-size: 16px;
      color: #264653;
    }
  }

  .info_group_student {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    margin-left: 20px;
    width: 100%;

    justify-content: center;
    align-items: center;
 flex: 2;
 
      .title_info {
        font-size: 22px;
        font-weight: 600;
      }
      .scroll {
        height: 200px;
    
        overflow-y: auto;
        width: 100%;

        .item_group {
            margin: 10px 14px;
            width: 29%;
          height: 26%;
          display: flex;
          flex-direction: column;

          .icon {
            font-size: 50px;
            color: rgb(13, 72, 139);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
          }
          .group_more {
            // display: flex;
            // justify-content: end;
            // align-items: end;
            // margin-top: 20px;
          }
        }
      }
  }
}
.text_colum{
  font-size: 16px;
  color: #264653;
}
}
