.group_detail {
  width: 95%;
  justify-content: center;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;

  span {
    font-weight: 700;
  }
  h3 {
    font-weight: 600;
    padding: 10px 0;
  }
  .group_name {
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: 400;
    text-transform: uppercase;
  }
  ._name {
    margin-left: 30px;
    font-size: 1.3rem;
    color: #606c38;
    font-weight: 700;
    text-transform: uppercase;
  }
  .group_member {
    .student_lable {
      font-size: 1.2rem;
      color: #3a86ff;
      font-weight: 500;
      text-transform: uppercase;
    }
    .item_name {
      &:hover {
        cursor: pointer;
      }
      .member {
        font-size: 1.2rem;
        color: #264653;
        font-weight: 400;
      }
    }
  }
  .topic_content {
    ._topic {
      font-size: 1.2rem;
      color: #fb6f92;
      font-weight: 600;
      text-transform: uppercase;
    }

    .item_name {
      font-size: 1.2rem;
      color: #264653;
      font-weight: 400;
      &:hover {
        cursor: pointer;
      }
    }
    ._topic_hover {
      & :hover {
        cursor: pointer;
      }
      .member {
        font-size: 1.1rem;
        color: #264653;
        font-weight: 400;
      }
    }

    ._lable {
      font-size: 1.2rem;
      color: #3a86ff;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .lecturer {
    padding: 10px 0;
    ._topic {
      font-size: 1.2rem;
      color: #ddb892;
      text-transform: uppercase;
      font-weight: 600;
    }
    ._title {
      font-size: 1.2rem;
      color: #264653;
      text-transform: uppercase;
      font-weight: 600;
    }
    .title {
      font-size: 15px;
      margin-right: 10px;
      color: #d4a373;
      text-transform: uppercase;
    }
    ._name {
      font-size: 0.9rem;
      margin-right: 10px;
      color: #bc6c25;
      font-weight: 600;
      text-transform: uppercase;
    }
    .group_name {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 600;
      position: relative;
      .name_info {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #0096c7;
      }
      .name_info_more {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #0096c7;
        &:hover {
          cursor: auto;
          color: #184e77;
          text-shadow: 1px 3px 1px rgb(80, 71, 54);
        }
      }

      .member {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        color: #588157;
      }
      .item {
        height: 50px;
        display: flex;
        width: 100%;
        // justify-content: flex-start;
        // align-items: flex-start;

        overflow-y: auto;
        overflow-x: auto;

        .item_name {
          padding-left: 20%;
          width: 100%;

          ._item {
            font-size: 15px;
            padding: 5px 0;
            text-transform: uppercase;
            font-weight: 600;
            color: #a3b18a;
          }
        }
      }
    }
    .item_name {
      &:hover {
        cursor: pointer;
      }
      .member {
        font-size: 1.2rem;
        color: #264653;
        font-weight: 400;
      }
    }

    .group_of_lecture {
      margin-left: 20px;

      .title_group {
        font-size: 0.9rem;
        color: #3a86ff;
        font-weight: 500;
        padding-bottom: 20px;
        .sub_name_group {
          font-size: 0.7rem;
        }
      }
    }
  }

  .topic {
    margin: 10px 0;
    text-align: justify;
    line-height: 1.5;
    font-size: 17px;
    .line {
      border-left: 10px;
      border-color: aqua;
    }
  }
  .counter_argument,
  .council {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  .ant-descriptions-item-label {
    align-items: center;
  }
}
