.group_detail {
  width: 95%;
  justify-content: center;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  span {
    font-weight: 700;
  }
  h3 {
    font-weight: 600;
    padding: 10px 0;
  }
  .group_name {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px 0;
  }
  .group_member {
    margin-bottom: 20px;
  }
  .lecturer {
    padding: 10px 0;

    .group_of_lecture {
      margin-left: 20px;
      .title_group {
        font-size: 0.9rem;
        font-weight: 500;
        padding-bottom: 20px;
        .sub_name_group {
          font-size: 0.7rem;
        }
      }
    }
  }

  .topic {
    margin: 10px 0;
    text-align: justify;
    line-height: 1.5;
    font-size: 17px;
    .line {
      border-left: 10px;
      border-color: aqua;
    }
  }
  .counter_argument,
  .council {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  .ant-descriptions-item-label {
    align-items: center;
  }
}
