*:not(*[class^="ant"], svg){
    box-sizing:  border-box;
    margin: 0;
    padding: 0;


    scroll-behavior: smooth;
    /* transition: all 0.2s;
    animation-name: myfading;
    animation-duration: 0.3s; */
}
body {  font-family: Arial, Helvetica, sans-serif; 

   
      
      
}


@keyframes myfading {
    from {
        opacity: 0;
        transition: opacity;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}