$primaryBackground: #E6E4F9;
$primaryIcon: #23529A;
$primaryColor: aliceblue;
$paleGrey: #efefef;
$lightGrey: rgba(20, 20, 20, 0.1);
$instagram: linear-gradient(to right, #A12AC4 0%, #ED586C 40%, #F0A853 100%);



$contentWidth : 100vw;
$contentHeight : 100vh;
$headerHeight : 70px;
$footerHeight : 50px;
$searchModalWidth : 400;


